@{
    ViewData["Title"] = "Index";
}



<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="margin-right:170px ; margin-top:50px">
    <h2>Orders</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">DATE</th>
                    <th scope="col">TOTAL</th>
                    <th scope="col">CUSTOMER NAME</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td>@order.Id</td>
                        <td>@order.OrderDate.ToShortDateString()</td>
                        <td>@order.TotalPrice.ToString("C")</td>
                        <td>@order.Customer.UserName</td>
                        <td>
                        <form asp-action="ConfirmDeliver">
                            <input class="btn btn-primary" type="submit" value="Done">
                            <input type="hidden" name="OrderID" value="@order.Id" />
                        </form>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>

